@charset "utf-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84E1AD;
}
strong{
    color: #047a19;
}

header{
    background-image: linear-gradient(to top,#1B5936,#22733F,#2A8C4C,#39BF68,#3DD973);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.519);
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    font-size: 3.2em;
}

header > h4 {
    font-size: 1.7em;
    padding: 15px;
}

nav{
    text-align: left;
    color: white;
    text-shadow: none;
    box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.49);
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    border-radius: 5px;
    padding: 13px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #3DD973;
    color: #05401A;
}


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 0px 0px 8px 8px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.424);
    
}

main > p{
    margin: 15px 0px;
    font-size: 1.1em;
    line-height: 1.4em;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    background-color:#5c9e73;
    color:#05401A;
    padding: 1px 6px;

}

main a:hover{
    text-decoration: underline;
}



img{
    width: 100%;
    display: block;
    margin: auto;
}

div.video{
    background-color: #05401A;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    align-items: center;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main > h1, h2{
    font-family: "android", sans-serif;
    color: rgb(0, 100, 0);
}
h4{
    color: white;
}

main img.pqn{
    max-width: 350px;
}

aside{
    background-color: #7ED99E;
    border-radius: 5px;
    text-indent: 20px;
    margin: 15px 0px;
    line-height: 1.4em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.424);
}

aside p{
    font-weight: bold;
}

aside h4.destaque{
    background-color: #022D15;
    border-radius: 5px 5px 0px 0px;
    padding: 8px;
    font-size: 1.3em; 
    text-indent: 10px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}


footer{
    text-align: center;
    background-color: #022D15;
    color: white;
    padding: 5px 0px 5px 0px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(89, 201, 147);
}